# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude generatd build files
main.js
main.css

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
